@model ItemDetailsViewModel

@{
    ViewData["Title"] = "Delete " + Model.Title;
}

<div class="container">
    <div class="text-center w-md-75 w-lg-50 mx-auto my-4">
        <h2>@ViewData["Title"]</h2>

        <div class="text-left">
            <a class="btn btn-link" asp-controller="Items" asp-action="Details" asp-route-id="@Model.Id">
                <i class="fas fa-chevron-left"></i>
                Back to @Model.Title
            </a>
        </div>

        <form method="post" asp-controller="Items" asp-action="Delete">
            <hr/>
            <div class="images-carousel ml-0">
                <ul class="d-flex no-bullets">
                    @if (Model.Pictures.Any())
                    {
                        var pictures = Model.Pictures.ToList();

                        foreach (var picture in pictures)
                        {
                            <li>
                                <a class="zoomGalleryActive" href="#" data-image="@picture.Url"
                                   data-zoom-image="@picture.Url">
                                    <img src="@picture.Url" alt="@Model.Title"/>
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <a class="zoomGalleryActive" href="#" data-image="@WebConstants.DefaultPictureUrl"
                               data-zoom-image="@WebConstants.DefaultPictureUrl">
                                <img src="@WebConstants.DefaultPictureUrl" alt="@Model.Title"/>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" disabled="disabled" value="@Model.Title"/>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" disabled="disabled">@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label>Start time</label>
                <input id="startTime" class="form-control" disabled="disabled"/>
                <input id="startTimeValue" type="hidden" disabled="disabled"
                       value="@Model.StartTime.ToString("O")"/>
            </div>
            <div class="form-group">
                <label>End time</label>
                <input id="endTime" class="form-control" disabled="disabled"/>
                <input id="endTimeValue" type="hidden" disabled="disabled"
                       value="@Model.EndTime.ToString("O")"/>
            </div>
            <div class="form-group">
                <label>Starting price</label>
                <input class="form-control" type="number" disabled="disabled" value="@Model.StartingPrice"/>
            </div>
            <div class="form-group">
                <label>Minimal price increase allowed</label>
                <input class="form-control" type="number" disabled="disabled" value="@Model.MinIncrease"/>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select class="form-control custom-select" disabled="disabled">
                    <option selected="selected">@Model.SubCategoryName</option>
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" name="id" value="@Model.Id"/>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>

@section CustomCss
{
    <link rel="stylesheet" href="~/bundle/item-details.min.css" asp-append-version="true" />
}

@section Scripts
{
    <script>
        (function() {
            function setFieldDate(field, isoDate) {
                field.val(getFormattedDate(moment.utc(isoDate).local()));
            }

            setFieldDate($('#startTime'), $("#startTimeValue").val());
            setFieldDate($('#endTime'), $("#endTimeValue").val());
        })();
    </script>
}