@model ItemDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

@{
    var calculatedPriceForPlaceHolder = Model.StartingPrice * 10;
    var mainImage = Model.Pictures.Select(p => p.Url).FirstOrDefault();
}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <div>
                <div class="tt-mobile-product-layout">
                    <img class="zoom-product" src="@mainImage" data-zoom-image="@mainImage" alt="">
                </div>
                <div class="images-carousel">
                    <ul id="smallGallery">
                        @if (Model.Pictures.Count > 1)
                        {
                            foreach (var picture in Model.Pictures)
                            {
                                <li><a href="#" class="zoomGalleryActive" data-image="@picture.Url" data-zoom-image="@picture.Url"><img src="@picture.Url" alt="" /></a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-header py-3">
                        <ul class="nav nav-pills card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active mb-1" href="#">Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>@Model.Description</p>
                        <h5 class="card-title">Starting Bid</h5>
                        <p class="card-text">$@Model.StartingPrice</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <h1>@Model.Title</h1>
            @if (Model.EndTime > DateTime.UtcNow)
            {
                <span id="identifier" class="float-right">
                    <span id="countdown" class="text-red"></span>
                </span>
            }
            <div class="pt-5 pb-5">
                <div class="card border-dark custom-card-color">
                    <div class="card-body">
                        <p class="card-text">$@Model.StartingPrice</p>
                        <div>
                            <label>Your Bid:</label>
                        </div>
                        <div>
                            <input class="form-control border-primary" type="number" placeholder="$@calculatedPriceForPlaceHolder" />
                        </div>
                        <div class="m-2">
                            <button class="btn btn-primary btn-lg btn-block">PLACE BID</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var eventTime = moment.utc('@Model.EndTime.ToString("O")').local();
        var currentTime = moment();
        var duration = moment.duration(eventTime.diff(currentTime));
        var interval = 1000;
        var identifier = $('#identifier').val();

        setInterval(function () {
                if (identifier == null) {
                    return;
                }
                duration = moment.duration(duration - interval, 'milliseconds');
                $('#countdown')
                    .text(`${duration.asDays().toFixed()}d ${duration.hours()}h ${duration.minutes()}m ${duration.seconds()}s`);
            },
            interval);
    </script>
}
