@model ItemDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

@{
    var calculatedPriceForPlaceHolder = Model.StartingPrice * 10;
    var mainImage = Model.Pictures.Select(p => p.Url).FirstOrDefault();
}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <div>
                <div class="tt-mobile-product-layout text-center">
                    <img class="zoom-product" src="@mainImage" data-zoom-image="@mainImage" style="max-height:80vh;" alt="">
                </div>
                <div class="images-carousel ml-0">
                    <ul id="smallGallery">
                        @if (Model.Pictures.Count > 1)
                        {
                            foreach (var picture in Model.Pictures)
                            {
                                <li><a href="#" class="zoom-gallery" data-image="@picture.Url" data-zoom-image="@picture.Url"><img src="@picture.Url" alt="" /></a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-header py-3">
                        <ul class="nav nav-pills card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active mb-1" href="#">Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>@Model.Description</p>
                        <h5 class="card-title">Starting Bid</h5>
                        <p class="card-text">$@Model.StartingPrice</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <h1>@Model.Title</h1>
            @if (Model.EndTime > DateTime.UtcNow && Model.StartTime < DateTime.UtcNow)
            {
                <span id="identifier" class="float-right">
                    Remaining time:
                    <span id="countdown" class="text-red"></span>
                </span>
            }
            else if (Model.StartTime > DateTime.UtcNow)
            {
                <span id="identifier" class="float-right">
                    Time until start:
                    <span id="countdown" class="text-red"></span>
                </span>
            }
            else
            {
                <span class="float-right">
                    <span class="text-red">Auction ended</span>
                </span>
            }
            <div class="pt-5 pb-5">
                <div class="card border-dark custom-card-color">
                    <div class="card-body">
                        <p class="card-text">Est. Price: &euro; @Model.StartingPrice - @(Model.StartingPrice * 10)</p>
                        <div>
                            <label></label>
                        </div>
                        @if (Model.EndTime > DateTime.UtcNow && Model.StartTime < DateTime.UtcNow)
                        {
                            <div class="m-2">
                                <a asp-area="Bid" asp-action="Details" asp-controller="Bid" asp-route-id="@Model.Id" class="btn btn-primary btn-lg btn-block">GO LIVE BIDDING</a>
                            </div>
                        }
                        else
                        {
                            <div class="m-2">
                                <button disabled class="btn btn-primary btn-lg btn-block">GO LIVE BIDDING</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* It's necessary id to be exactly like down below or js won't work *@
<input type="hidden" id="end-time-id-for-calculator" value="@Model.EndTime.ToString("O")" />
<input type="hidden" id="start-time-id-for-calculator" value="@Model.StartTime.ToString("O")" />

@section Scripts{
    <script src="~/js/time-calculator.js"></script>
    <script src="~/js/elevatezoom/elevatezoom-init.js"></script>
}

@section CustomCss
    {
    <link href="~/css/item-details.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
}