@model ItemEditBindingModel

@{
    ViewData["Title"] = "Edit item listing";
}

<div class="container">
    <div class="text-center w-md-75 w-lg-50 mx-auto my-4">
        <h2>@ViewData["Title"]</h2>
        <input id="item-id" asp-for="@Model.Id" hidden="hidden" value="@Model.Id" />
        
        <div class="text-left">
            <a class="btn btn-link" asp-controller="Items" asp-action="Details" asp-route-id="@Model.Id">
                <i class="fas fa-chevron-left"></i>
                Back to @Model.Title
            </a>
        </div>

        <form method="post" id="createForm" enctype="multipart/form-data">
            <hr />
                <div class="images-carousel ml-0">
                    <ul id="smallGallery" class="d-flex no-bullets">
                        @if (Model.Pictures.Any())
                        {
                            var pictures = Model.Pictures.ToList();

                            for (int i = 0; i < Model.Pictures.Count; i++)
                             {
                                 var picture = pictures[i];
                                 <li>
                                     <a class="zoomGalleryActive" href="#" data-image="@picture.Url" data-zoom-image="@picture.Url"><img src="@picture.Url" alt=""/></a>
                                     <input id="urls[@i]" name="urls[@i]" value="@picture.Url" hidden="hidden" class="item-picture"/>
                                     <i class="fas fa-times-circle pointer"></i>
                                 </li>
                            }
                        }
                        else
                        {
                            <li class="defaultPicture">
                                <a class="zoomGalleryActive" href="#" data-image="@WebConstants.DefaultPictureUrl" data-zoom-image="@WebConstants.DefaultPictureUrl"><img src="@WebConstants.DefaultPictureUrl" alt=""/></a>
                                <input id="urls[0]" name="urls[0]" value="@WebConstants.DefaultPictureUrl" hidden="hidden" class="item-picture"/>
                            </li>
                        }
                    </ul>
                <div class="form-group">
                    <div class="custom-file my-3">
                        <input type="file" accept="image/*" asp-for="Pictures" class="custom-file-input btn btn-outline-secondary" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" multiple>
                        <label id="inputGroupFile01-label" class="custom-file-label btn btn-outline-secondary" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime"></label>
                <input id="startTime" class="form-control" />
                <input id="startTimeSubmit" type="hidden" asp-for="StartTime" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime"></label>
                <input id="endTime" class="form-control" />
                <input id="endTimeSubmit" type="hidden" asp-for="EndTime" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingPrice"></label>
                <input class="form-control" asp-for="StartingPrice"
                       type="number" placeholder="€300" step="0.01" min="0.01" />
                <span asp-validation-for="StartingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinIncrease"></label>
                <input class="form-control" asp-for="MinIncrease"
                       type="number" placeholder="€10" step="0.01" min="0.01" />
                <span asp-validation-for="MinIncrease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryId"></label>
                <select class="form-control custom-select" title="Select item category..."
                        asp-for="SubCategoryId" asp-items="Model.SubCategories"></select>
                <span asp-validation-for="SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>

@section CustomCss {
    <link rel="stylesheet" href="~/bundle/item-details.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bundle/bootstrap-datetimepicker.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/bundle/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    <script src="~/bundle/edit-item.min.js" asp-append-version="true"></script>

    <script>
        $('#startTime').datetimepicker({
            date: moment.utc($('#startTimeSubmit').val(), 'DD/MM/YYYY HH:mm').local(),
            format: 'DD/MM/YYYY HH:mm',
            icons: {
                time: 'fas fa-clock'
            }
        });

        $('#endTime').datetimepicker({
            date: moment.utc($('#endTimeSubmit').val(), 'DD/MM/YYYY HH:mm').local(),
            format: 'DD/MM/YYYY HH:mm',
            icons: {
                time: 'fas fa-clock'
            }
        });

        $('#createForm').submit(function () {
            $('#startTimeSubmit').val(moment($('#startTime').val(), 'DD/MM/YYYY HH:mm').utc().format());
            $('#endTimeSubmit').val(moment($('#endTime').val(), 'DD/MM/YYYY HH:mm').utc().format());
        });
    </script>
}
