@model IEnumerable<ItemIndexViewModel>
@{
    ViewData["Title"] = "My items";
}

<div class="container">
    <table id="items" class="table table-hover mt-3 dt-responsive dataTable nowrap">
        <thead>
            <tr class="font-weight-bold">
                <th></th>
                <th>Title</th>
                <th>Starting Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img class="img-fluid img-thumbnail" src="@item.PrimaryPicturePath" /></td>
                    <td>@item.Title</td>
                    <td>€@item.StartingPrice</td>
                    <td>
                        <a class="btn btn-primary" href="@item.DetailsUrl">Details</a>
                        <a class="btn btn-outline-danger" href="@item.DeleteUrl"><i class="fas fa-trash"></i> Delete</a>
                        <a class="btn btn-outline-primary" href="@item.EditUrl"><i class="far fa-edit"></i>Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section CustomCss{
    <link rel="stylesheet" href="~/bundle/datatables.min.css" asp-append-version="true" />
}

@section Scripts{
    <script src="~/bundle/datatables.min.js" asp-append-version="true"></script>
}