@model ItemListingViewModel
@{
    ViewData["Title"] = "List";
    const int surroundingPagesCount = 3;
}

<div class="container">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-6 col-md-4 p-1">
                <div class="card" style="width: 18rem;">
                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id"><img src="~/default-img.jpg" class="card-img-top" alt="default-image"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h5>
                        <p class="text-gray">@item.UserFullName</p>
                        @*We might add remaining time until the auction starts here also*@
                        <p class="card-text">$@item.StartingPrice</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@{
    var prevDisabled = !Model.Items.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Items.HasNextPage ? "disabled" : "";
    var firstDisabled = Model.Items.PageIndex == 1 ? "disabled" : "";
    var lastDisabled = Model.Items.TotalPages <= Model.Items.PageIndex ? "disabled" : "";

    var firstShownPage = Math.Max(1, Model.Items.PageIndex - surroundingPagesCount);
    var lastShownPage = Math.Min(Model.Items.TotalPages, Model.Items.PageIndex + surroundingPagesCount);
}

@if (Model.Items.Any())
{
    <ul class="pagination justify-content-center">
        <li class="page-item @firstDisabled">
            <a class="page-link" asp-route-pageIndex="1">First</a>
        </li>
        <li class="page-item @prevDisabled">
            <a class="page-link" asp-route-pageIndex="@(Model.Items.PageIndex - 1)">Previous</a>
        </li>

        @for (int i = firstShownPage; i < Model.Items.PageIndex; i++)
        {
            <li class="page-item">
                <a class="page-link" asp-route-pageIndex="@i">@i</a>
            </li>
        }

        <li class="page-item active">
            <button class="page-link active">@Model.Items.PageIndex</button>
        </li>

        @for (int i = Model.Items.PageIndex + 1; i <= lastShownPage; i++)
        {
            <li class="page-item">
                <a class="page-link" asp-route-pageIndex="@i">@i</a>
            </li>
        }

        <li class="page-item @nextDisabled">
            <a class="page-link" asp-route-pageIndex="@(Model.Items.PageIndex + 1)">Next</a>
        </li>
        <li class="page-item @lastDisabled">
            <a class="page-link" asp-route-pageIndex="@(Model.Items.TotalPages)">Last</a>
        </li>
    </ul>
}