@model ItemListingViewModel
@{
    ViewData["Title"] = "List";
    const int surroundingPagesCount = 3;
}

<div class="container">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-12 col-md-6 col-lg-4 p-1">
                <div class="card shadow m-2">
                    <a href="@item.Url">
                        <img src="@item.Pictures.FirstOrDefault()?.Url" class="card-img-top card-img-listing" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="@item.Url">@item.Title</a></h5>
                        <p class="text-gray">@item.UserFullName</p>
                        @*We might add remaining time until the auction starts here also*@
                        <p class="card-text">$@item.StartingPrice</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@{
    var prevDisabled = !Model.Items.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Items.HasNextPage ? "disabled" : "";
    var firstDisabled = Model.Items.PageIndex == 1 ? "disabled" : "";
    var lastDisabled = Model.Items.TotalPages <= Model.Items.PageIndex ? "disabled" : "";

    var firstShownPage = Math.Max(1, Model.Items.PageIndex - surroundingPagesCount);
    var lastShownPage = Math.Min(Model.Items.TotalPages, Model.Items.PageIndex + surroundingPagesCount);
}

@if (Model.Items.Any())
{
    <ul class="pagination justify-content-center">
        <li class="page-item @firstDisabled d-none d-md-inline-block">
            <a class="page-link" asp-route-pageIndex="1">
                <i class="fas fa-angle-double-left"></i>
            </a>
        </li>
        <li class="page-item @prevDisabled">
            <a class="page-link" asp-route-pageIndex="@(Model.Items.PageIndex - 1)">
                <i class="fas fa-chevron-left"></i>
            </a>
        </li>

        @for (int i = firstShownPage; i < Model.Items.PageIndex; i++)
        {
            <li class="page-item">
                <a class="page-link" asp-route-pageIndex="@i">@i</a>
            </li>
        }

        <li class="page-item active">
            <button class="page-link active">@Model.Items.PageIndex</button>
        </li>

        @for (int i = Model.Items.PageIndex + 1; i <= lastShownPage; i++)
        {
            <li class="page-item">
                <a class="page-link" asp-route-pageIndex="@i">@i</a>
            </li>
        }

        <li class="page-item @nextDisabled">
            <a class="page-link" asp-route-pageIndex="@(Model.Items.PageIndex + 1)">
                <i class="fas fa-chevron-right"></i>
            </a>
        </li>
        <li class="page-item @lastDisabled d-none d-md-inline-block">
            <a class="page-link" asp-route-pageIndex="@(Model.Items.TotalPages)">
                <i class="fas fa-angle-double-right"></i></a>
        </li>
    </ul>
}